<div class='container-fluid'>
	<div id='navi-btn-container-left' ng-click="vm.pager.pageNumber = (vm.pager.pageNumber - 1)" ng-hide="vm.pager.pageNumber == 0">
		<button class='btn btn-warning navi-btn kiosk-btn' ><i class='fa fa-angle-left'></i></button>
	</div>
	<div id='navi-btn-container-right' ng-click="vm.pager.pageNumber= (vm.pager.pageNumber + 1)" ng-hide="vm.pager.pageNumber == vm.pager.totalPages - 1 || vm.pager.total == 0">
		<button class='btn btn-warning navi-btn kiosk-btn'><i class='fa fa-angle-right'></i></button>
	</div>
	<div class='row'>
		<div class='col-xs-12 header'>
			<div class='padded'>
				<div class='col-xs-2' ng-repeat="category in vm.categories">
					<button class='btn btn-warning btn-block kiosk-btn' ng-model="vm.productFilter.category" ng-click="vm.productFilter.category=category.value; vm.pager.pageNumber=0">{{category.display_name}}</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div class='container-fluid catalog-container'>
	<div class='row'>
		<div class="padded" id="catalog-products" ng-repeat="product in vm.products | filter: vm.productFilter | Paginate: vm.pager">
            <div class='col-xs-4 product-outer-container'>
            	<div class='thumbnail product-container padded'>
					<div class='title centered'><h4>{{product.name}}</h4></div>
	                <img ng-src="http://placehold.it/300x200"/>
					<h4 class='centered'>Starting from: ${{product.starting_price}}</h4>
					<span class='symbols'>
						<i ng-show="product.gluten_free" class='symbol-gluten-free'></i> <i ng-show="product.paleo" class='symbol-paleo'></i> <i ng-show="product.low_carb" class='symbol-low-carb'></i> <i ng-show="product.vegetarian" class='symbol-vegetarian'></i> &nbsp;
					</span>
	                <div>
						<table class='table product-information'>
						<thead>
							<th>Size</th>
							<th>Calories</th>
							<th>Price</th>
						</thead>
						<tbody>
	                    <tr ng-repeat="size in product.sizes" id="product_row_{{size.id}}" ng-click="vm.addToCart({'id': size.id, 'size': size.sizeDisp, 'name':  product.name, 'price': size.rack_price, 'taxable': product.taxable})" ng-click="vm.addProduct('{{size.id}}');">
	                        <td>{{size.sizeDisp}}</td>
							<td>{{size.calories}}</td>
							<td>
								<button class='btn btn-block btn-primary kiosk-btn'><i class='fa fa-plus fa-lg'></i> &nbsp;&nbsp;${{size.rack_price}}</button>
	                        </td>
	                    </tr>
						</tbody>
	                    </table>
	                    <p>
	                        <button ng-click="vm.changeProduct(product); vm.toggleDetails();" class='btn kiosk-btn btn-block loadDetails'>View Details <i class='fa fa-double-angle-right'></i> </button>
	                    </p>
	                </div>
            	</div>
            </div>
        </div>
     </div>   
</div>

<div class='row'>
	<div class='col-xs-12 footer'>
		<div class='padded'>
			<div class='col-xs-3'>
			</div>
			<div class='col-xs-2'>
				<a class='btn btn-block action-btn btn-warning' href='#' id='logout-btn'>Logout</a>
			</div>
			<div class='col-xs-2 number-items-display'>
				# Items: {{vm.cart.totalQuantity}}
			</div>
			<div class='col-xs-2 number-items-display'>
				Total: <span id='grand-total'>{{vm.cart.subtotal | currency}}</span>
			</div>
			<div class='col-xs-2'>
				<a href="{{vm.cart.totalQuantity == 0 ? '' : '#/cart'}}" class='btn btn-block btn-warning action-btn' id='view-cart-btn' ng-disabled="vm.cart.totalQuantity == 0"><i class='fa fa-shopping-cart'></i> Checkout</a>
			</div>
		</div>
	</div>
</div>

<div class="slide-pane" id="productDetails">
	<div class='container-fluid'>
		<div class='row'>
		<div class='product-full-details'>
			<div class='col-xs-12'>
            <div class='row'>
                <div class='col-xs-12 product-full'>
                    <div class='col-xs-6'>
                        <div class='row'>
                            <div class='col-xs-12'>
                                <h4>{{vm.details.name}}</h4>

                            </div>
                        </div>
                        <div class='row'>
							<div class='col-xs-12' id="product_image_full">
								<img ng-src="http://placehold.it/500x460"/>
							</div>
                        </div>
						<div class='row' id='description'>
							<div class='col-xs-12'>
								<span class='symbols'>
									<i ng-show="details.gluten_free" class='symbol-gluten-free'></i> <i ng-show="details.paleo" class='symbol-paleo'></i> <i ng-show="details.low_carb" class='symbol-low-carb'></i> <i ng-show="details.vegetarian" class='symbol-vegetarian'></i>
								</span>
								<p class='muted' id='product_description'>
								<em><small>{{vm.details.description}}</small></em>
								</p>
							</div>
						</div>
					</div>
					<div class='col-xs-6'>
						<div class='row'>
							<div class='col-xs-12'>
								<table class='table well'>
								<thead>
									<th>Size</th>
									<th>Price</th>
								</thead>
								<tbody>
									<tr ng-repeat="size in vm.details.sizes" id="product_row_{{size.id}}" ng-click="vm.addToCart({'id': size.id, 'size': size.sizeDisp, 'name':  product.name, 'price': size.rack_price, 'taxable': product.taxable})" ng-click="vm.addProduct('{{size.id}}');">
									<td class='vertically-centered'>{{size.sizeDisp}}</td>
									<td class='vertically-centered'>
										<button class='btn btn-block btn-primary kiosk-btn'><i class='fa fa-plus fa-lg'></i> {{size.rack_price|currency}}</button>
									</td>
								</tr>
								</tbody>
								</table>
								<div class='row'>
									<div class='col-xs-6'>
										<table class='table'>
											<thead>
												<th>Size</th>
												<th>Calories</th>
												<th>Carbs</th>
												<th>Protein</th>
												<th>Fat</th>
											</thead>
											<tbody>
												<tr ng-repeat="size in vm.details.sizes">
													<td>{{size.sizeDisp}}</td>
													<td>{{size.calories}}</td>
													<td>{{size.carbs}}</td>
													<td>{{size.protein}}</td>
													<td>{{size.fat}}</td>
												</tr>
										</table>
									</div>
									<div class='col-xs-6'>
										<p class='muted'><small>Ingredients: {{vm.details.ingredients}}</small></p>
									</div>
								</div>
								<div class='row'>
									<div class='col-xs-12'>
										<table class='table'>
											<thead>
												<tr>
													<th colspan='2'>Symbol Legend</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td><i class='symbol-gluten-free'></i></td>
													<td>Gluten-Free</td>
												</tr>
												<tr>
													<td><i class='symbol-low-carb'></i></td>
													<td>Low-Carb</td>
												</tr>
												<tr>
													<td><i class='symbol-paleo'></i></td>
													<td>Paleo Friendly</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				</div>
			</div>
			</div>
		</div>
		<button class='btn btn-primary navi-btn kiosk-btn' id='slide-close' ng-click="vm.toggleDetails()"><i class='fa fa-angle-right'></i> </button>
	</div>
</div>
